#portfolio-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    border: 2px solid black;
    width: 60vw;
    padding:  10px;
    margin: auto;

    
}

.section-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    background-color: #f1f1f1;
}
.profile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;

    background-color: #149ad8;
}
.profile-picture{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px 0;
    color: white;
}

.profile-links{
    display: flex;
    gap: 10px;

}

.profile-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-links a{
    text-decoration: none;
    color: white;
}
.profile-link img{
    height: 30px;
    width: 30px;
}

.parent-container{
    padding: 20px;
    width: 100%;
    background-color: grey;
}

.underline-tracker{
    background-color: #149ad8;
    height: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;

}
.skill-list{
    display: flex;
    flex-direction: column;
   margin: 5px 0;
   animation: tracker 2s linear 1 forwards;
}

@keyframes tracker {
    0%{
        width: 10%;
    }

    100%{
        width: 100%;
    }
}


/* Section Right CSS */
.headings{
    font-size: 20px;
    font-weight: 500;
    color: #149ad8;
    margin-top: 8px;
}

.role-title{
display: flex;
justify-content: space-between;
margin-top: 8px;
}

.style-icon{
    height: 14px;
    width: 14px;
    margin-right: 5px;
    margin-left: 20px;
}


.role-description{
color:grey ;
}